/* Site-wide effects */
* {
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CSU Logo and title in Nav */
nav .logo img {
    width: 120px;
}

nav .title {
    color: #383a38;
    text-align: center;
    margin: 15px auto 35px;
}

nav .title h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

nav .title h4 {
    font-size: 15px;
}

/* Navigation */
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 360px;
    padding: 80px 0;
    background-color: #5c9731;
}

nav .links a {
    color: #383a38;
    display: block;
    margin: 1em 0;
    text-align: center;
}

#currentPage {
    color: #FFFFFF;
}

nav li {
    text-decoration: none;
    margin: 0 1% 0 0;
    padding: 5px;
    text-align: center;
}

nav li:hover {
    opacity: 0.7;
}

/* Responsive Navigation */
@media (max-width: 900px) {
    nav {
        position: inherit;
        width: auto;
        height: auto;
    }

    nav .links {
        text-align: center;
    }

    nav .links a {
        display: inline-block;
        margin: 0 10px;
    }
}

/* Events */

.events div {
    border-radius: 1em;
    border: 1px solid;
    margin: 3% auto;
    text-align: center;
}

.logo {
    text-align: center;
}
