/* Site-wide effects */
* {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* CSU Logo and title in Nav */
nav .logo {
    text-align: center;
}

nav .logo img {
    width: 120px;
}

nav .title {
    color: #383a38;
    text-align: center;
    margin: 15px auto 30px;
}

nav .title h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

nav .title h4 {
    font-size: 15px;
}

/* Social media icons */

.social {
    text-align: center;
}

/* style all icons */
.social .fa {
    padding: 20px;      /* give the social media icon some breathing room */
    width: 55px;        /* max width of the box will be 55px */
    font-size: 15px;    /* size of social media icon */
    text-align: center; /* icon seems to center with or w/o this property */
    border: 2px solid transparent;
    border-radius: 50%; /* round the icons */
    background: #383a38;
    color: #4FB0C6;
}

/* hover effect */
.social .fa:hover {
    background: #4FB0C6;
    border-color: #383a38;
    color: #383a38;
}

/* Navigation */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 360px;
    padding: 80px 0;
    background-color: #4FB0C6;
}

nav .links {
    margin-bottom: 30px;
}

nav .links a {
    color: #383a38;
    display: block;
    margin: 1em 0;
    text-align: center;
}

#currentPage {
    color: #FFFFFF;
}

nav li {
    text-decoration: none;
    margin: 0 1% 0 0;
    padding: 5px;
    text-align: center;
}

nav li:hover {
    opacity: 0.7;
}

/* Events */

.pageContent {
    margin: 0 0 0 360px;
    padding: 60px 135px 60px 80px;
}

/* make all page body links red */
.pageContent a {
    color: #e23434;
}

.pageContent .event .title, .info, .details {
    margin-bottom: 10px;
}

.pageContent .event {
    margin-bottom: 20px;
}

.host {
    color: #8b8687;
}

.pageContent .event .title {
    font-size: 28px;
}

.pageContent .event .info p,
.pageContent .event .info blockquote {
    margin-bottom: 10px;
}

/* create a modern style for quotes */
.pageContent .event .info blockquote {
    padding-left: 20px;
    border-left: 3px solid #4FB0C6;
}

.pageContent .event .details .date,
.pageContent .event .details .time,
.pageContent .event .details .location {
    padding: 0 15px 0 0;
}

.pageContent .event .info {
    font-size: 18px;
    word-spacing: 3px;
}

.pageContent .past {
    color: #8b8687;
}

/* Future page styling */
.pageContent .future-disclaimer {
    text-align: center;
    margin-bottom: 20px;
    color: #4FB0C6;
}

/* Yearly officer elections styiling */

.elections h4 {
    text-align: center;
    color: #383a38
}

.elections .position {
    margin-bottom: 10px;
    text-align: center;
}

/* styles first element under nested under .elections .position (first paragraph tag under "position" div)*/
.elections .position :first-child {
    color: #4FB0C6;
}

/* Yearly Google styling */

.pageContent .event .info .google {
    text-align: center;
}

.pageContent .event .info .google .rsvp {
    color: #e23434;
}

.pageContent .event .info .google .activity h4 {
    color: #4FB0C6;
    margin-bottom: 10px;
}

/* Responsive Navigation */

@media (max-width: 900px) {
    nav {
        position: inherit;
        width: auto;
        height: auto;
        padding: 40px 0;
    }

    nav .links {
        text-align: center;
        margin-bottom: 30px;
        padding: 0 12%;
    }

    nav .links a {
        display: inline-block;
        margin: 0 10px;
    }

    .pageContent {
        margin: 0;
        padding: 40px 80px;
    }
}

@media (max-height: 768px) {
    nav {
        padding: 20px;
    }
}
